<%- include('stylesheets', {page: 'Submit a New Album'}) %>
  <a href='/new'>Submit new Artist</a>
  <br>
  <a href='/albums'>Submit new Albums</a>
  <br>
  <h1>Submit a New Album to the Database</h1>
  <table>
    <thead>
      <td>Artist</td>
      <td>Album</td>
      <td>Release Year</td>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

<%- include('javascripts') %>
