<!DOCTYPE html>
<html>
<head>
  <title>Album search | <%= title %></title>
</head>
<body>
  <h1>Search for an Artist to Submit New Albums</h1>
  <form>
    <input type="search" placeholder="Search for an Artist" name="artist"></input>
    <input type="submit" placeholder="Click me to Search!"></input>
    <!-- <input></input> -->
  </form>
  <div>
    <!-- <%  var result = document.getElementsByName("artist"); %> -->
      <tr>
        <td><%= result %></td>
<!--         <td><%= album.genre %></td>
        <td><%= album.bio %></td>
 -->      </tr>

  </div>
</body>
</html>
