<!DOCTYPE html>
<html>
<head>
  <title>Submit a New Album | <%= title %></title>
</head>
<body>
  <h1>Submit a New Album to the Database</h1>
  <table>
    <thead>
      <td>Artist</td>
      <td>Album</td>
      <td>Release Year</td>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
